<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>HOME TESTE</title>
  </head>
  <body>
    <h1>Pagina de teste HOME</h1>
  </body>
</html>