<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="udacity.css" />
    <title>Learn the Latest Tech Skills; Advance Your Career | Udacity</title>
</head>
<header>
    <div class="cabecalho">
        <div class="logo">
            <svg _ngcontent-sc4="" height="60" viewBox="0 0 180 60" width="180" xmlns="http://www.w3.org/2000/svg">
                <title _ngcontent-sc4="">Udacity United States of America</title>
                <g _ngcontent-sc4="" fill="none" fill-rule="evenodd">
                    <path class="escrita" _ngcontent-sc4=""
                        d="m57.6 17.239187c0 2.546698-2.085517 4.407747-4.965517 4.407747s-4.965517-1.86105-4.965517-4.407747v-9.403193h-1.986206v9.501143c0 3.330298 2.88 6.170846 6.951723 6.170846 4.071724 0 6.951724-2.938498 6.951724-6.170846v-9.501143h-1.986207zm16.286897-9.403193h-5.36276v15.67199h5.36276c4.468965 0 7.547586-3.03645 7.547586-7.835996 0-4.701596-3.07862-7.835994-7.547586-7.835994zm-.19862 13.71299h-3.177932v-11.75399h3.17793c3.376553 0 5.76 2.252847 5.76 5.876994 0 3.917998-2.482757 5.779046-5.76 5.876996zm43.49793.29385c-3.575172 0-5.95862-2.644648-5.95862-6.170846 0-3.526197 2.482758-6.072895 5.95862-6.072895 2.78069 0 4.468966 1.5672 4.468966 1.5672l.794483-1.3713s-1.787587-1.86105-5.46207-1.86105c-4.766896 0-7.746206 3.526198-7.746206 7.738045 0 4.309797 3.07862 7.933945 7.944827 7.933945 3.773793 0 5.66069-2.5467 5.66069-2.5467l-1.092414-1.175398c-.09931-.09795-1.588965 1.959-4.568276 1.959zm14.896553-14.00684h1.986206v15.67199h-1.986207zm10.924137 1.959h4.965517v13.71299h1.986207v-13.71299h4.96552v-1.959h-11.917241m30.587583 0-4.766896 7.150344-4.866207-7.150347h-2.085518l5.95862 8.717546v6.954445h1.986208v-6.954444l5.85931-8.71754m-81.434482 0-6.157242 15.67199h1.986207l1.688276-4.5057 6.45517-1.3713 2.18483 5.876998h1.986203l-6.05793-15.67199h-2.085518zm-1.886897 9.305242 2.97931-7.248294h.099315l2.482754 6.170842-5.56138 1.07745z"
                        fill="#2e3d49"></path>
                    <path _ngcontent-sc4=""
                        d="m29 .5 1 .5v13c0 5.551887-2.8897 8.695692-5.995216 10.099885l.004616.000115-7.620963 4.388562c-.05877.03456-.11776.068527-.176957.101902l-.08642.049764.001806-.00254c-1.643976.908207-3.442184 1.362312-5.126866 1.362312-5 0-11-4-11-12v-12l2 1v11c0 8 6 10 9 10 1.858706 0 4.86901-.76773 6.89043-3.254517-3.708704-.872847-7.89043-4.06678-7.89043-10.745483v-11.8l-8 4.8-2-1 10-6 1 .5 1 .5v13c0 6.939958 4.515283 8.612086 7.017542 8.933368.608244-1.311778.982458-2.935466.982458-4.933368v-13l2 1v12c0 1.852645-.321777 3.49077-.878395 4.91438 2.526618-.365163 6.878395-2.101236 6.878395-8.91438v-11.75l-6 3.75-2-1 8-5z"
                        fill="#02b3e4">

                    </path>
                </g>
            </svg>
        </div>
        <div class="opcoes">
            <span>
                <ul class="lista">
                    <li class="item programs">Programs</li>
                    <li class="item flecinha"><svg _ngcontent-sc12="" class="pointer-down" height="7" nav-toggleable=""
                            viewBox="0 0 12 7" width="12" xmlns="http://www.w3.org/2000/svg">
                            <path _ngcontent-sc12="" d="m105 46 5 5 5-5" fill="none" stroke="#96a0aa"
                                stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                transform="translate(-104 -45)">
                            </path>
                        </svg></li>
                    <li class="item career">Career</li>
                    <li class="item flecinha"><svg _ngcontent-sc12="" class="pointer-down" height="7" nav-toggleable=""
                            viewBox="0 0 12 7" width="12" xmlns="http://www.w3.org/2000/svg">
                            <path _ngcontent-sc12="" d="m105 46 5 5 5-5" fill="none" stroke="#96a0aa"
                                stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                transform="translate(-104 -45)">
                            </path>
                        </svg></li>
                    <li class="item enterprise">For Enterprise</li>
                    <li class="item divider"><svg width="2" height="20">
                            <rect width="0.5" height="24" style="fill:#697681;stroke-width:3;stroke:none" />
                        </svg></li>
                    <li class="item sign">Sign In</li>
                </ul>
                <div class="blue-button"><a href="/login">GET STARTED</a></div>
            </span>
        </div>
    </div>
</header>
<div class= "bodycontainer">
    <div class="caixa">
        <h2>Be in demand</h2>
        <p>Learn the latest tech skills to propel your career forward</p>
        <input type="search" placeholder="What do you want to learn?">
        <div class="topico book"><img class="loguinho" src="./images/book-open.svg" alt="book">Real-world projects from
            industry experts</div>
        <div class="topico mentor"><img class="loguinho" src="./images/mentorship.svg" alt="book">1-on-1 technical
            mentor</div>
        <div class="topico career"><img class="loguinho" src="./images/careers.svg" alt="book">Personal career coach and
            career services</div>
        <div class="topico time"><img class="loguinho" src="./images/time.svg" alt="book">Flexible learning options
        </div>
    </div>
    <div class="chat">
        <svg class="cLogo" focusable="false" aria-hidden="true" viewBox="0 0 28 32">
            <path
                d="M28,32 C28,32 23.2863266,30.1450667 19.4727818,28.6592 L3.43749107,28.6592 C1.53921989,28.6592 0,27.0272 0,25.0144 L0,3.6448 C0,1.632 1.53921989,0 3.43749107,0 L24.5615088,0 C26.45978,0 27.9989999,1.632 27.9989999,3.6448 L27.9989999,22.0490667 L28,22.0490667 L28,32 Z M23.8614088,20.0181333 C23.5309223,19.6105242 22.9540812,19.5633836 22.5692242,19.9125333 C22.5392199,19.9392 19.5537934,22.5941333 13.9989999,22.5941333 C8.51321617,22.5941333 5.48178311,19.9584 5.4277754,19.9104 C5.04295119,19.5629428 4.46760991,19.6105095 4.13759108,20.0170667 C3.97913051,20.2124916 3.9004494,20.4673395 3.91904357,20.7249415 C3.93763774,20.9825435 4.05196575,21.2215447 4.23660523,21.3888 C4.37862552,21.5168 7.77411059,24.5386667 13.9989999,24.5386667 C20.2248893,24.5386667 23.6203743,21.5168 23.7623946,21.3888 C23.9467342,21.2215726 24.0608642,20.9827905 24.0794539,20.7254507 C24.0980436,20.4681109 24.0195551,20.2135019 23.8614088,20.0181333 Z">
            </path>
        </svg>
    </div>
</div>

</body>

</html>