<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Index</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        div {
            margin: 20px;
        }

        ul {

            list-style-type: none;
            width: 500px;

        }

        h3 {
            font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
        }

        li img {
            float: left;
            margin: 0 15px 0 0;
        }

        li p {
            font: 200 12px/1.5 Georgia, Times New Roman, serif;
        }

        li {
            width: 100%;
            padding: 10px;
            overflow: auto;
        }

        li:hover {
            background: #eee;
            cursor: pointer;
        }

        .containerext {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        .conta {
            display: flex;
            justify-content: center;

        }
        .conta2 {
            display: flex;
            justify-content: center;
            align-items: flex-start;  

        }
    </style>
</head>

<body>

    <div class="containerext">
        <div class="conta">
            <h1>Bem Vindo <%= name %></h1>
        
            <div class="item"><a href="/logout" class="btn btn-secondary">Logout</a></div>
        </div>


        <div class="conta2">
            <form action="upload" method="post" enctype="multipart/form-data">
                <input type="file" name="arquivo" value="" />
                <label for="story">Escreva alguma coisa</label>

                <textarea id="desc" name="desc" rows="5" cols="33"></textarea>
                <input type="submit" value="upload &rarr;" />
            </form>
        </div>


        <div>
            <ul>
                <% for(var img in images) {%>
                <li>
                    <img src="<%= images[img] %>" width="200" height="200">
                    <h3>Headline</h3>
                    
                </li>
                <% } %>

            </ul>

        </div>

    </div>


</body>

</html>